[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
twine = "*"

[packages]
awsume = "==4.*"
yubikey-manager = "==5.*"

[requires]
python_version = "3"